<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--正念应用编号-->
  <add key="AppId" value="000001"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>