<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="cpos_bs_alading_select" connectionString="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;database=cpos_bs_alading;" providerName="System.Data.SqlClient" />
  <add name="cpos_bs_alading_insert" connectionString="user id=admin;password=JtLaxT7668;data source=182.254.151.86,7433;database=cpos_bs_alading;" providerName="System.Data.SqlClient" />
</connectionStrings>

